### EXPRESS SERVER SERVICE ###

SERVER_PORT=3333
INTERNAL_SERVER_PORT=3000
# AIzaSyAN-UDQ8k_u4NxZmZn3u9Tw1R2ETJmjXlI // "SEB"
# AIzaSyBjYtCNn02tDKtmTk-ElKnRvgNshDIz0uE
# this is for test only
GEMINI_API_KEY=AIzaSyBjYtCNn02tDKtmTk-ElKnRvgNshDIz0uE

# OpenAI API Key pour LangChain (nécessaire pour les agents)
OPENAI_API_KEY=your_openai_api_key_here

### EXPRESS SERVER SERVICE ###


### POSTGRES SERVICE ###

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?schema=public"

### POSTGRES SERVICE ###